body {
    margin: 0;
    font-family: var(--font-main);
    background-color: var(--light-color);
    color: var(--dark-color);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.app-container {
    width: 100%;
    max-width: 1200px;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-shadow: 2px 2px 0px var(--accent-color);
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.message {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 1.5em;
}

.message.success {
    color: var(--success-color);
}

.message.error {
    color: var(--error-color);
}